<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
{% load custom_filters %}
<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<div class="preview_wrapper">
    <h1>All news</h1>
    <h3>News quantity today {{ posts|length}}</h3>
    <a href="{% url 'post_create' %}">Create a new post</a>
</div>
    {% if posts %}
        <table class="posts_table table">
            <tr>
                <td class='posts_table_column column'>
                    Title
                </td>
                <td class='posts_table_column column'>
                    Date
                </td>
                <td class='posts_table_column column'>
                    Text
                </td>
                <td class='posts_table_column column'>
                    Options
                </td>
            </tr>
    {% for post in posts %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.post_title|censor }}</a>
                </td>
                <td>
                    {{ post.post_date|date:'d M Y H:m'}}
                </td>
                <td>
                    {{ post.post_text|truncatewords:50|censor }}
                </td>
                <td>
                    <a href="{% url 'post_update' post.id %}"><u>update</u></a>
                    <a href="{% url 'post_delete' post.id %}"><u>delete</u></a>
                </td>
            </tr>
        {% endfor %}    
        </table>
<a href="{% url 'post_search' %}">Search post</a>
{% if is_paginated %}

<div class="posts_pagination pagination">
    <nav aria-label="...">
        <ul class="pagination">

            {% if page_obj.has_previous %}

                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1">First</a>
                </li>

            {% endif %}

            {% for num in page_obj.paginator.page_range%}

                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{ num }} <span class="sr-only">(current)</span></a>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}

            {% endfor %} 

            {% if page_obj.has_next %}

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
                </li>

            {% endif %}
        </ul>
    </nav>
</div>

{% endif %}

    {% else %}
        <h2>No news</h2>
    {% endif %}

{% endblock content %}