<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello {{ user }} </h2>
    <h3>here is the latest news of this week</h3>

    {% for post in posts %}
        <h3><a href="http://172.23.197.233:8000{% url 'post_detail' post.id %}"> {{post.post_title}}</a> </h3>
    {% endfor %}  
    
</body>
</html>